* {
  margin-top: 0px;
}
body {
  background-image: url(images/image17.jpg);
}

#i12 {
  display: none;
}

header {
  font-family: "Lobster", cursive;
  font-size: 2rem;
  color: red;

  text-decoration: underline;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin-bottom: -2rem;
}

.image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  transform-style: preserve-3d;
}
.image img {
  width: auto;
  height: 26vh;
  justify-content: center;
  border-radius: 2rem;

  padding: 0.7rem;
  padding-right: 5rem;
  overflow: hidden;

  justify-content: center;

  overflow: hidden;
  transform: rotateX(70deg) rotateZ(-60deg) translate3d(-120px, 0px, 70px);
  box-shadow: -80px 60px 15px 5px rgba(0, 0, 0, 0.4);
}
img:hover {
  transform: rotateX(0deg) rotateZ(0deg) scale(1.2, 1.2)
    translate3d(0px, 0px, 0px);
  transition: 0.5s;
  transform-style: preserve-3d;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}
@media only screen and (max-width: 914px) {
  body {
    background-image: url(images/image18.jpg);
  }
  #i12 {
    display: block;
  }
  header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: cyan;
    font-size: 2rem;
    margin-bottom: -2rem;
  }
}
@media all and (min-width: 914.1px) and (max-width: 1350px) {
  body {
    background-image: url(images/image14.jpg);
  }
  #i12 {
    display: block;
  }

  header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: yellowgreen;
    font-size: 2rem;
    margin-bottom: -2rem;
  }
  .image {
    margin-left: 1.1rem;
  }
}
